In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load and View Dataset 
df = pd.read_csv('marketing_AB.csv')
df.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14

In [ ]:
# Check duplicates
df.duplicated(subset='user id').sum()

# Drop unwanted columns
df.drop(["Unnamed: 0", "user id"], axis=1, inplace=True)
df.columns

Index(['test group', 'converted', 'total ads', 'most ads day',
       'most ads hour'],
      dtype='object')

In [ ]:
# Check number of categorical data
df_category = df[['test group', 'converted', 'total ads', 'most ads day', 'most ads hour']]
df_category.nunique()

test group         2
converted          2
total ads        807
most ads day       7
most ads hour     24
dtype: int64

In [ ]:
# See all categorical data options
for i in df_category.columns:
  print(i.upper(), ':', df_category[i].unique())

TEST GROUP : ['ad' 'psa']
CONVERTED : [False  True]
MOST ADS DAY : ['Monday' 'Tuesday' 'Friday' 'Saturday' 'Wednesday' 'Sunday' 'Thursday']
MOST ADS HOUR : [20 22 18 10 14 13 19 11 12 16 21  3 23  4  8  0  2 15  1  6 17  7  9  5]

In [ ]:
# See df
df_category.head()

  test group  converted most ads day  most ads hour
0         ad      False       Monday             20
1         ad      False      Tuesday             22
2         ad      False      Tuesday             18
3         ad      False      Tuesday             10
4         ad      False       Friday             14